<div class="clearfix">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default" style="margin-top: 20px;">
            <div class="panel-heading"><h3>SoccerGear Login</h3></div>
            <div class="panel-body" style="margin-top: 10px;">
                <as-loading *ngIf="loading"></as-loading>
                <div *ngIf="errorMsg" class="alert alert-danger alert-dismissable text-center">{{errorMsg}}</div>
                <form  name="loginForm" #loginForm="ngForm" [ngStyle]="{'display': loading?'none':''}">
                    <div class="form-group">
                        <input
                                name="username"
                                placeholder="username"
                                class="form-control"
                                [(ngModel)]="username"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <input
                                name="password"
                                type="password"
                                placeholder="password"
                                class="form-control"
                                [(ngModel)]="password"
                                required
                        />
                    </div>
                    <button (click)="login()" class="btn btn-block btn-primary" [disabled]="loginForm.form.valid == false">Login </button>

                </form>
                <a [routerLink]="['/password/reset/']" style="cursor: pointer;" >Forgot password? </a>

            </div>
        </div>
    </div>
</div>