<div class="clearfix">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default" style="margin-top: 20px;">
            <div class="panel-heading"><h3>SoccerGear Password Recovery</h3></div>
            <div class="panel-body" style="margin-top: 10px;" *ngIf="resetdone">
                <h3 class=" alert alert-success alert-dismissable text-center">A message was sent to your email containing a link to
                    reset your password. For security reasons the link can only be used for one hour.</h3>
            </div>

            <div class="panel-body" style="margin-top: 10px;" *ngIf="!resetdone">
                <as-loading *ngIf="loading"></as-loading>
                <div *ngIf="errorMsg" class="alert alert-danger alert-dismissable text-center">The email does not exist in our database</div>

                <form  name="loginForm" #loginForm="ngForm" [ngStyle]="{'display': loading?'none':''}" >
                    <p>Enter your Email address to recovery your password</p>
                    <div class="form-group">
                        <input
                                name="email"
                                placeholder="Email"
                                class="form-control"
                                [(ngModel)]="email"
                                required
                        />
                        <!--<p *ngIf="errorMsg && errorMsg.email" class="alert alert-danger">{{ errorMsg.email }}</p>-->
                    </div>


                        <button  (click)="passwordReset()"
                                class="btn btn-block btn-primary"
                                [disabled]="loginForm.form.valid == false">
                                Recover Password
                        </button>



                </form>
            </div>
        </div>
    </div>
</div>