<div class="clearfix">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default" style="margin-top: 20px;">
            <div class="panel-heading"><h4>SoccerGear Password Reset </h4></div>
            <div class="panel-body" style="margin-top: 10px;" *ngIf="resetdone">
                <h4 class=" alert alert-success alert-dismissable text-center">Your Password was change successful.
                    Click here to  <a [routerLink]="['/auth/login/']" style="cursor: pointer;" >login</a> </h4>
            </div>

            <div class="panel-body" style="margin-top: 10px;" *ngIf="!resetdone">
                <as-loading *ngIf="loading"></as-loading>
                <div *ngIf="errorMsg" class="alert alert-danger alert-dismissable text-center">{{errorMsg}}</div>

                <form  name="loginForm" #loginForm="ngForm" [ngStyle]="{'display': loading?'none':''}" >

                    <div class="form-group">
                        <input
                                name="password"
                                placeholder="New password"
                                class="form-control"
                                [(ngModel)]="password"
                                required
                        />
                        <p *ngIf="errorMsg && errorMsg.password" class="alert alert-danger">{{ errorMsg.password }}</p>
                    </div>
                    <div class="form-group">
                        <input
                                name="password2"
                                placeholder="Confirm password1"
                                class="form-control"
                                [(ngModel)]="password2"
                                required
                        />
                        <p *ngIf="errorMsg && errorMsg.password2" class="alert alert-danger">{{ errorMsg.password2 }}</p>
                    </div>


                        <button  (click)="passwordChange()"
                                class="btn btn-block btn-primary"
                                [disabled]="loginForm.form.valid == false">
                                Change Password
                        </button>



                </form>
            </div>
        </div>
    </div>
</div>