<div class="clearfix">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default" style="margin-top: 20px;">
            <div class="panel-heading"><h4>SoccerGear Password Reset </h4></div>
            <div class="panel-body" style="margin-top: 10px;" *ngIf="passwordchanged">
                <h4 class=" alert alert-success alert-dismissable text-center">Your Password was change successful.
                    Click here to  <a [routerLink]="['/auth/login/']" style="cursor: pointer;" >login</a> </h4>
            </div>

            <div class="panel-body" style="margin-top: 10px;" *ngIf="!passwordchanged">
                <as-loading *ngIf="loading"></as-loading>
                <!--<div *ngIf="errorMsg" class="alert alert-danger alert-dismissable text-center">{{errorMsg}}</div>-->

                <form  [formGroup]="form" [ngStyle]="{'display': loading?'none':''}" >

                    <div class="form-group">
                        <input
                                formControlName="new_password1"
                                name="new_password1"
                                placeholder="New password"
                                class="form-control"
                                type="password"
                                required
                        />
                        <p *ngIf="errorMsg && errorMsg.new_password1" class="alert alert-danger">{{ errorMsg.new_password1 }}</p>
                    </div>
                    <div class="form-group">
                        <input
                                formControlName="new_password2"
                                name="new_password2"
                                placeholder="Confirm password"
                                class="form-control"
                                type="password"
                                required
                        />
                        <p *ngIf="errorMsg && errorMsg.new_password2" class="alert alert-danger">{{ errorMsg.new_password2}}</p>
                    </div>
                     <div class="form-group" style="display: none;">
                        <input
                                formControlName="uid"
                                name="uid"
                                placeholder="UID"
                                class="form-control"
                                type="text"
                                required
                        />
                        <p *ngIf="errorMsg && errorMsg.uid" class="alert alert-danger">{{ errorMsg.uid}}</p>
                    </div>
                    <div class="form-group" style="display: none;">
                        <input
                                formControlName="token"
                                name="token"
                                placeholder="Token"
                                class="form-control"
                                type="text"
                                required
                        />
                        <p *ngIf="errorMsg && errorMsg.token" class="alert alert-danger">{{ errorMsg.token}}</p>
                    </div>




                        <button  (click)="passwordChange()"
                                class="btn btn-block btn-primary"
                                [disabled]="!form.valid">
                                Change Password
                        </button>



                </form>
                {{response | json}}
            </div>
        </div>
    </div>
</div>