<nav *ngIf="pagesArray">
    <ul class="pagination">
        <li>
            <a (click)="goToPage(state.prev_offset)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li *ngFor="let page of pagesArray" [class.active]="currentOffset == page.offset">
            <a (click)="goToPage(page.offset)">{{ page.page }}</a>
        </li>
        <li>
            <a (click)="goToPage(state.next_offset)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>