<as-loading *ngIf="loading"></as-loading>
<h2>Order Items</h2>
<div *ngIf="!loading">
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>
                            Item Id
                        </td>
                        <td>
                            Order Id
                        </td>
                        <td>
                            Product
                        </td>
                        <td>
                            Item Cost
                        </td>
                        <td>
                            Item Quantity
                        </td>
                    </tr>
                </thead>
                <tbody *ngFor="let item of orderItems.results; let i = index" >
                    <tr  class="order_item" *ngIf="item.order_id == oid">
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            {{item.order_id}}
                        </td>
                        <td>
                            {{item.product.title}}
                        </td>
                        <td>
                           {{item.price}}
                        </td>
                        <td>
                            {{item.quantity}}
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
