<h4>Admin Add Category </h4>
<div>
    <div class="col-sm-3 col-md-2 affix-sidebar">
		<div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <span class="visible-xs navbar-brand">Sidebar menu</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav" id="sidenav">

                <li style="width:100%">
                  <a data-toggle="collapse" data-target="#products" data-parent="#sidenav">
                     Products <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="products" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a >Add Products </a></li>
                      <li><a href="">Edit Products</a></li>
                    </ul>
                  </div>
                </li>
                <li style="width:100%"  class="active">
                  <a data-toggle="collapse" data-target="#product_category" data-parent="#sidenav">
                     Product Categories <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="product_category" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a [routerLink]="['/admin/addcategory']">Add Category </a></li>
                      <li><a href="">Edit Categories</a></li>
                    </ul>
                  </div>
                </li>
                <li style="width:100%">
                  <a data-toggle="collapse" data-target="#orders" data-parent="#sidenav">
                     Orders <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="orders" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a href="">View Orders</a></li>
                     </ul>
                  </div>
                </li>
                <li style="width:100%">
                  <a data-toggle="collapse" data-target="#payments" data-parent="#sidenav">
                     Payments <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="payments" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a href="">View Payments</a></li>
                     </ul>
                  </div>
                </li>
                <li style="width:100%">
                  <a data-toggle="collapse" data-target="#users" data-parent="#sidenav">
                     Users <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="users" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a href="">Add Users </a></li>
                      <li><a href="">Edit Users</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
	</div>

            <div class="col-sm-6 col-md-7 affix-content">
                <as-loading *ngIf="loading"></as-loading>
                <div *ngIf="!loading">
                <form [formGroup]="CategoryForm">
                         <div class="form-group">
                             <h3>Category Form </h3>
                         </div>
                         <div class="form-group">
                            <input
                                    formControlName="title"
                                    name="title"
                                    placeholder="Title Name"
                                    class="form-control"
                                    type="text"
                                    required
                            />
                            <p *ngIf="errors && errors.title" class="alert alert-danger">{{ errors.title }}</p>
                         </div>

                         <div class="form-group">
                            <select class="styled-select semi-square"
                                    formControlName="category"
                                    name="category"
                                    placeholder="Category"
                                    class="form-control"
                                    type="text"
                                    >
                                <option *ngFor="let cat of categoryResponse.results" value="{{cat.id}}">
                                    {{ cat.title }}
                                </option>

                            </select>
                             <p *ngIf="errors && errors.category" class="alert alert-danger">{{ errors.category }}</p>

                         </div>

                         <button (click)="addCategory()" class="btn btn-success btn-block btn-checkout" [disabled]="!CategoryForm.valid"> Add Category </button>
                </form>
                </div>
            </div>

</div>