<h2>Admin Products </h2>
<div>
    <div class="col-sm-3 col-md-2 affix-sidebar">
		<div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <span class="visible-xs navbar-brand">Sidebar menu</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav" id="sidenav">

                <li style="width:100%" class="active">
                  <a data-toggle="collapse" data-target="#products" data-parent="#sidenav">
                     Products <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="products" style="height: 0px;">
                    <ul class="nav nav-list">
                        <li><a  [routerLink]="['/admin/addproduct/']" >Add Products </a></li>
                        <li><a  [routerLink]="['/admin/listproduct/']">Edit Products</a></li>
                    </ul>
                  </div>
                </li>
                <li style="width:100%">
                  <a data-toggle="collapse" data-target="#product_category" data-parent="#sidenav">
                     Product Categories <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="product_category" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a [routerLink]="['/admin/addcategory']">Add Category </a></li>
                      <li><a [routerLink]="['/admin/listcategory']">Edit Categories</a></li>
                    </ul>
                  </div>
                </li>
                <li style="width:100%">
                  <a data-toggle="collapse" data-target="#orders" data-parent="#sidenav">
                     Orders <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="orders" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a [routerLink]="['/admin/listorders/']" >View Orders</a></li>
                     </ul>
                  </div>
                </li>
                <li style="width:100%">
                  <a data-toggle="collapse" data-target="#users" data-parent="#sidenav">
                     Users <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="users" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a [routerLink]="['/admin/listusers/']">View Users</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
	</div>
            <div class="col-sm-6 col-md-7 affix-content">
                <as-loading *ngIf="loading"></as-loading>
            </div>
            <div class="col-sm-6 col-md-7 affix-content" *ngIf="!loading">
                <form [formGroup]="productForm">
                         <div class="form-group">
                             <h3>Product Form </h3>
                         </div>
                         <div class="form-group">
                             <input type="file"
                               ngFileSelect
                               [options]="options"
                               (onUpload)="handleUpload($event)">
                         </div>
                         <div class="form-group">
                            <input
                                    formControlName="title"
                                    name="title"
                                    placeholder="Product Name"
                                    class="form-control"
                                    type="text"
                                    required
                            />
                            <p *ngIf="errors && errors.title" class="alert alert-danger">{{ errors.title }}</p>
                         </div>
                         <div class="form-group">
                            <input
                                    formControlName="price"
                                    name="price"
                                    placeholder="Product Price"
                                    class="form-control"
                                    type="text"
                                    required
                            />
                            <p *ngIf="errors && errors.price" class="alert alert-danger">{{ errors.price }}</p>
                         </div>
                         <div class="form-group">
                             <textarea
                                    formControlName="description"
                                    name="description"
                                    placeholder="Product Description"
                                    class="form-control"
                                    type="text"
                                    required
                            ></textarea>
                            <p *ngIf="errors && errors.description" class="alert alert-danger">{{ errors.description }}</p>
                         </div>
                         <div class="form-group">
                            <input
                                    formControlName="main_image"
                                    name="main_image"
                                    placeholder="Main Image"
                                    class="form-control"
                                    type="text"
                                    required
                            />
                            <p *ngIf="errors && errors.main_image" class="alert alert-danger">{{ errors.main_image }}</p>
                         </div>
                         <div class="form-group">
                            <select
                                    formControlName="category"
                                    name="category"
                                    placeholder="Category"
                                    class="form-control"
                                    type="text"
                                    required
                            >
                                <option *ngFor="let cat of categoryResponse.results" value="{{cat.id}}">
                                    {{ cat.title }}
                                </option>
                            </select>
                            <p *ngIf="errors && errors.category_id" class="alert alert-danger">{{ errors.category_id }}</p>
                          </div>
                         <button (click)="addProduct()" class="btn btn-success btn-block btn-checkout" [disabled]="!productForm.valid"> Add Product </button>
                </form>
            </div>

</div>