<as-loading *ngIf="loading"></as-loading>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Edit User Profile </h2>
        </div>
    </div>
    <div *ngIf="!loading" >

        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="well well-sm">
                    <div class="row">

                                 <div class="tab-pane" id="2">
                                   <form [formGroup]="form" [ngStyle]="{'display': loading?'none':''}" novalidate>
                                     <div class="col-sm-8 col-md-8">
                                            <div class="form-group center" >
                                                <h4>Edit Profile</h4><br>
                                            </div>
                                            <div class="form-group">
                                                <input
                                                        formControlName="full_name"
                                                        name="full_name"
                                                        placeholder="Full Name"
                                                        [ngModel]="user.full_name"
                                                        class="form-control"
                                                        type="text"
                                                        required
                                                />
                                                <p *ngIf="errors && errors.full_name" class="alert alert-danger">{{ errors.full_name }}</p>
                                            </div>

                                            <div class="form-group">
                                                <input
                                                        formControlName="username"
                                                        name="username"
                                                        placeholder="Username"
                                                        [ngModel]="user.username"
                                                        class="form-control"
                                                        type="text"
                                                        required
                                                />
                                                <p *ngIf="errors && errors.username" class="alert alert-danger">{{ errors.username }}</p>
                                            </div>
                                          <div class="form-group">
                                                <input
                                                        formControlName="email"
                                                        name="email"
                                                        placeholder="Username"
                                                        [ngModel]="user.email"
                                                        class="form-control"
                                                        type="email"
                                                        required
                                                />
                                                <p *ngIf="errors && errors.username" class="alert alert-danger">{{ errors.username }}</p>
                                            </div>

                                            <div class="form-group">
                                                <input
                                                        formControlName="mobile_number"
                                                        name="mobile_number"
                                                        placeholder="mobile number"
                                                        [ngModel]="user.mobile_number"
                                                        class="form-control"
                                                        type="text"
                                                        required
                                                />
                                                <p *ngIf="errors && errors.mobile_number" class="alert alert-danger">{{ errors.mobile_number }}</p>
                                            </div>
                                            <div class="form-group">
                                                <input
                                                        formControlName="date_joined"
                                                        name="date_joined"
                                                        placeholder="date joined"
                                                        [ngModel]="user.date_joined"
                                                        class="form-control"
                                                        type="text"
                                                        required
                                                />
                                                <p *ngIf="errors && errors.date_joined" class="alert alert-danger">{{ errors.date_joined }}</p>
                                            </div>
                                        </div>
                                     <div class="col-sm-8 col-md-8">
                                            <div class="form-group center" >
                                                <h4>Address</h4><br>
                                            </div>

                                            <div class="form-group">
                                                <input
                                                        formControlName="default_billing_address"
                                                        name="default_billing_address"
                                                        placeholder="billing address"
                                                        class="form-control"
                                                        [ngModel]="user.default_billing_address"
                                                        type="text"
                                                        required
                                                />
                                                <p *ngIf="errors && errors.default_billing_address" class="alert alert-danger">{{ errors.default_billing_address }}</p>
                                            </div>
                                            <div class="form-group">
                                                <input
                                                        formControlName="default_shipping_address"
                                                        name="default_shipping_address"
                                                        placeholder="shipping addres"
                                                        [ngModel]="user.default_shipping_address"
                                                        class="form-control"
                                                        type="text"
                                                        required
                                                />
                                                <p *ngIf="errors && errors.default_shipping_address" class="alert alert-danger">{{ errors.default_shipping_address }}</p>
                                            </div>
                                        </div>
                                       <div class="col-sm-8 col-md-8">
                                            <div class="form-group center" >
                                                <h4>Permissions</h4><br>
                                            </div>
                                            <div class="form-group">
                                                <input
                                                        formControlName="is_admin"
                                                        name="is_admin"
                                                        type="checkbox"
                                                        [checked]="user.is_admin"
                                                >  Admin User
                                            </div>
                                       </div>
                                     <div class="col-sm-8 col-md-8">
                                            <div class="form-group center" >
                                                <h4>Payments</h4><br>
                                            </div>

                                            <div class="form-group">
                                                <input
                                                        formControlName="mpesa_phone_number"
                                                        name="mpesa_phone_number"
                                                        placeholder="Mpesa Phone Number"
                                                        [ngModel]="user.mpesa_phone_number"
                                                        class="form-control"
                                                        type="text"
                                                        required
                                                />
                                                <p *ngIf="errors && errors.mpesa_phone_number" class="alert alert-danger">{{ errors.mpesa_phone_number }}</p>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-3 pull-right">
                                                    <button class="btn btn-success btn-block" [disabled]="!form.valid" (click)="saveChanges()"> Save Changes </button>
                                                </div>
                                            </div>
                                     </div>

                                   </form>
                                 </div>


                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
