<as-loading *ngIf="loading"></as-loading>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Products Shop </h2>
    </div>
</div>


<div *ngIf="!loading">
    <div class="shop_filters">
        <div class="row">
            <div class="col-lg-3 pull-left">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="searchterm" placeholder="Search for...">
                    <span class="input-group-btn">
                <button class="btn btn-default" (click)="search(searchterm)" type="button"> Search </button>
              </span>
                </div>
            </div>

        </div>
    </div>
    <div *ngFor="let product of productsResponse.results; let i = index" class="col-sm-6 col-md-4 product">
        <div class="thumbnail">
            <a [routerLink]="['/product/' + product.id]">
                <img [src]="product.getMainImage()" />
            </a>

            <div class="caption">
                <span>Name: </span>
                <a [routerLink]="['/product/' + product.id ]">{{ product.title }}</a><br>
                <span>Price:</span>&nbsp;&nbsp;&nbsp;{{ product.price}}<br>
            </div>
            <hr>
            <div class="btn-group cart_buttons">
                <button type="button" class="btn btn-success btn-sm" (click)="addToCart(product)">Add to Cart</button>
                <a [routerLink]="['/product/' + product.id]" class="btn btn-default btn-sm">
                    View Details
                </a>
                <a [routerLink]="['/cart/']" class="btn btn-default btn-sm">
                    View Cart
                </a>
            </div>
        </div>
    </div>

</div>
