<as-loading *ngIf="loading"></as-loading>
<div class="panel panel-default">
    <div class="panel-heading" >
        <h2>Product Details</h2>
    </div>
</div>


<div *ngIf="!loading">

    <div class="detail-main">

        <div class="detail-wrap ">
            <div class="col-sm-6">
                <div class="thumbnail">
                    <img width="500" height="500" src="assets/images/ng2.jpg" alt="Ng2">

                    <hr>
                    <div class="col-sm-12 caption">
                        <img class="caption_img" src="assets/images/ng2.jpg" alt="Ng2">
                        <img class="caption_img" src="assets/images/ng2.jpg" alt="Ng2">
                        <img class="caption_img" src="assets/images/ng2.jpg" alt="Ng2">
                    </div>
                    <div style="clear: both"></div>
                </div>

            </div>
            <div class="col-sm-6">
                <h1 class="product_name">{{product.title}}</h1>
                <hr>
                <h1 class="product_name">Description</h1>

                <div class="product_description">
                    {{product.description}}
                </div>
                    <hr>
                    <h1 class="product_name">Select size and color</h1>
                    <div class="product_select">
                        <select >
                            <option *ngFor="let item of product.size" [value]="item">{{item}}</option>
                        </select>
                        <select>
                            <option *ngFor="let item of product.color" [value]="item">{{item}}</option>
                        </select>
                    </div>
                <hr>

                <div class="product_buttons">
                    <button type="button" class="btn btn-success btn-sm" (click)="addToCart(product)" >Add to Cart</button>
                    <a [routerLink]="['/cart/']">
                        <button type="button" class="btn btn-default btn-sm" >View Cart</button>
                    </a>
                </div>

            </div>
        </div>

    </div>

</div>
