<as-loading *ngIf="loading"></as-loading>
<div class="panel panel-default">
    <div class="panel-heading" >
        <h2>Product Details</h2>
    </div>
</div>


<div *ngIf="!loading">

    <div class="detail-main">

        <div class="detail-wrap ">
            <div class="col-sm-6">
                <div class="thumbnail">
                    <img width="500" height="500" src="assets/images/ng2.jpg" alt="Ng2">

                    <hr>
                    <div class="col-sm-12 caption">
                        <img class="caption_img" src="assets/images/ng2.jpg" alt="Ng2">
                        <img class="caption_img" src="assets/images/ng2.jpg" alt="Ng2">
                        <img class="caption_img" src="assets/images/ng2.jpg" alt="Ng2">
                    </div>
                    <div style="clear: both"></div>
                </div>

            </div>
            <div class="col-sm-6">
                <h1 class="product_name">{{product.title}}</h1>
                <hr>
                <h1 class="product_name">Description</h1>

                <div class="product_description">
                    {{product.description}}
                </div>
                <hr>
                <div *ngIf="product.attribute_fields.length > 0">
                    <h1 class="product_name">Options</h1>
                    <div class="product_select">
                        <div *ngFor="let attr of product.attribute_fields" class="input-group" style="margin-bottom: 10px;">
                            <label >{{ attr.field }}</label>
                            <select [(ngModel)]="chosen_attributes[attr.field]" class="form-control">
                                <option *ngFor="let value of product.attributes[attr.field]" [value]="value">{{value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="product_buttons">
                    <button type="button" class="btn btn-success btn-sm" (click)="addToCart(product)" >Add to Cart</button>
                    <a [routerLink]="['/cart/']">
                        <button type="button" class="btn btn-default btn-sm" >View Cart</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
