<as-loading *ngIf="loading"></as-loading>
 <h2>Product Details</h2>
<div *ngIf="!loading">
<div class="col-sm-12">
    <button class="btn btn-success" (click)="saveChanges()" *ngIf="showSave">Save</button>
</div>
    <div class="detail-main">

        <div class="detail-wrap ">
            <div class="col-sm-6">
                <div class="thumbnail">
                    <img [src]="product.getMainImage()" style="max-width: 500px; max-height: 500px;">
                    <hr>
                    <div class="col-sm-12 caption">
                        <img [src]="product.getMainImage()" style="max-width: 70px; max-height: 70px;">
                        <img [src]="product.getMainImage()" style="max-width: 70px; max-height: 70px;">
                        <img [src]="product.getMainImage()" style="max-width: 70px; max-height: 70px;">
                    </div>
                    <div style="clear: both"></div>
                </div>

            </div>
            <div class="col-sm-6">http://localhost:8000/media/uploads/product_images/3bdcc55d26b89c09b00d94bc9fa09511.jpg
                <h1 class="product_name" (keyup)="productChanged($event, 'title')" [attr.contenteditable]=" _sessionService.user && ( _sessionService.user.is_superuser || _sessionService.user.is_admin)" [innerHtml]="product.title"></h1>
                <hr>
                <h1 class="product_name">Description</h1>

                <div class="product_description" (keyup)="productChanged($event, 'description')" [attr.contenteditable]=" _sessionService.user && ( _sessionService.user.is_superuser || _sessionService.user.is_admin)" [innerHtml]="product.description"></div>
                <hr>
                <hr>
                <h1 class="product_name">Price</h1>

                <div class="product_price" (keyup)="productChanged($event, 'description')" [attr.contenteditable]=" _sessionService.user && ( _sessionService.user.is_superuser || _sessionService.user.is_admin)" [innerHtml]="product.price"></div>
                <hr>
                <div *ngIf="product.attribute_fields.length > 0">
                    <h1 class="product_name">Options</h1>
                    <div class="product_select">
                        <div *ngFor="let attr of product.attribute_fields" class="input-group" style="margin-bottom: 10px;">
                            <label >{{ attr.field }}</label>
                            <select [(ngModel)]="chosen_attributes[attr.field]" class="form-control">
                                <option *ngFor="let value of product.attributes[attr.field]" [value]="value">{{value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="product_buttons">
                    <button type="button" class="btn btn-success btn-sm" (click)="addToCart(product)" >Add to Cart</button>
                    <a [routerLink]="['/cart/']">
                        <button type="button" class="btn btn-default btn-sm" >View Cart</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

