{
    "APP_URL": "http://localhost",
    "API_PROTOCOL": "http",
    "API_DOMAIN": "localhost:8000",
    "API_baseUrl": "/api/",
    "API_apiVersion": "1",
    "UPLOADS_URL": "https://gear-api.tunaweza.com:8443/static/uploads/",
    "DEFAULT_PRODUCT_IMAGE": "https://gear.tunaweza.com:8443/assets/images/ng2.jpg",
    "UPLOAD_URL": "http://localhost:8000/api/v1/fileupload/"
}
