
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>User Profile </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">

                    <div class="col-sm-12 col-md-12">
                        <div class="form-group center" >
                            <h3>Personal Profile</h3><br>
                        </div>
                            <div class="form-group">
                                <i class="glyphicon glyphicon-user"></i>Full Name: &nbsp;&nbsp;{{userDisplayDetails.full_name}}
                            </div>

                            <div class="form-group">
                                <i class="glyphicon glyphicon-user"></i>Username: &nbsp;&nbsp;{{userDisplayDetails.username}}
                            </div>
                            <div class="form-group">
                                <i class="glyphicon glyphicon-envelope"></i>Email: &nbsp;&nbsp;{{userDisplayDetails.email}}
                            </div>
                            <div class="form-group">
                                <i class="glyphicon glyphicon-phone"></i> Phone Number:&nbsp;&nbsp;{{userDisplayDetails.mobile_number}}
                            </div>
                            <div class="form-group">
                                <i class="glyphicon glyphicon-calendar"></i> Date Joined: &nbsp;&nbsp;{{userDisplayDetails.date_joined}}
                            </div>


                    </div>

                    <div class="col-sm-12 col-md-12">
                        <div class="form-group center" >
                            <h3>Address</h3><br>
                        </div>

                        <div class="form-group">
                            <i class="glyphicon glyphicon-envelope"></i>Billing_address: &nbsp;&nbsp;{{userDisplayDetails.default_billing_address}}
                        </div>
                        <div class="form-group">
                            <i class="glyphicon glyphicon-envelope"></i>Shipping_address: &nbsp;&nbsp;{{userDisplayDetails.default_shipping_address}}
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
