<as-loading *ngIf="loading"></as-loading>
<h2>Checkout</h2>
<div class="row">
    <div class="container">
        <div *ngIf="!loading && cart">
            <div *ngIf="cart.items.length > 0">
                <div class="col-sm-6 col-md-6">
                    <div *ngIf="errorMsg" class="alert alert-danger alert-dismissable text-center">{{errorMsg}}</div>
                    <form [formGroup]="form" *ngIf="!paymentComplete && !paymentConfirmed">
                        <div class="panel-heading" >
                            <h3>Complete Transaction </h3>
                            The total cost of your purchase is
                            <span *ngIf="cart" class="subtotal"> {{ cart.subtotal | currency:'KES':true:'1.2-2'}}</span>
                            , please proceed to make the payment with M-PESA.
                        </div>
                        <label>
                             Shipping Addresss
                        </label>
                        <div class="form-group">
                            <textarea
                                    formControlName="shipping_address"
                                    name="shipping_address"
                                    placeholder="Shipping Address"
                                    class="form-control"
                                    type="text"
                                    required
                            ></textarea>
                            <p *ngIf="errors && errors.shipping_address" class="alert alert-danger">{{ errors.shipping_address }}</p>
                        </div>
                        <label>
                             Please Confirm your M-PESA Number
                        </label>
                        <div class="form-group">
                            <input
                                    formControlName="mobile_number"
                                    name="mobile_number"
                                    placeholder="phone number"
                                    class="form-control"
                                    type="text"
                                    required
                            />
                            <p *ngIf="errors && errors.mobile_number" class="alert alert-danger">{{ errors.mobile_number }}</p>
                        </div>
                        <button (click)="requestPayment()"  class="btn btn-success btn-block btn-checkout" [disabled]="!form.valid">Request Payment</button>
                    </form>
                </div>
                <div class="col-sm-6 col-md-6 well pull-right">
                        <div class="pull-right">
                            <img src="assets/images/mpesa.png" alt="Ng2">
                        </div>
                        <p> If SoccerGear request payment fails please use this procedure to make your payment :- </p>

                        <ul>
                          <li> Go to M-PESA Menu on your phone </li>
                          <li> Select Pay Bill (may be under the Lipa Na M-Pesa) </li>
                          <li> Enter Business Number - 961700 </li>
                          <li> Enter Account Number - 06942 </li>
                          <li> Enter Amount - {{ cart.subtotal | currency:'KES':true:'1.2-2'}} </li>
                          <li> Enter your M-PESA PIN </li>
                          <li> Send and wait for SMS receipt from LIPISHA </li>
                        </ul>
                </div>
            </div>
            <div *ngIf="cart.items.length <= 0 && !paymentComplete">
                <h3 class="text-center">You have no items in your cart, so you cannot checkout</h3>
            </div>
        </div>
        <div *ngIf="!loading && paymentComplete && !paymentConfirmed">
            <div class="col-sm-6 col-md-6">
                    <div *ngIf="errorMsg" class="alert alert-danger alert-dismissable text-center">{{errorMsg}}</div>
                    <form [formGroup]="transactionForm" *ngIf="paymentComplete">
                         <div class="form-group">
                             <h3>Confirm Transaction </h3>
                         </div>
                         <div class="form-group">
                            <input
                                    formControlName="transaction"
                                    name="transaction"
                                    placeholder="transaction code"
                                    class="form-control"
                                    type="text"
                                    required
                            />
                            <p *ngIf="errors && errors.transaction" class="alert alert-danger">{{ errors.transaction }}</p>
                         </div>
                         <button (click)="confirmTransaction()" class="btn btn-success btn-block btn-checkout" [disabled]="!transactionForm.valid"> Confirm Transaction </button>
                    </form>
                </div>
        </div>
        <div *ngIf="!loading && paymentConfirmed">
                <h3> Payment Confirmed </h3>
                <p> Your payment has been confirmed , delivery details will be communicated to you via phone</p>
        </div>
    </div>
</div>